{% extends "base.html" %}
{% block content %}
  <h1>{{ movie.original_title }}</h1>
  <p>{{ movie.overview }}</p>
  {{ movie.release_date }}
  <form method="post">
    {% csrf_token %}
    {% if not only_one_team %}
      <!-- todo: build "select for team" logic -->
      <a href="#">TODO: Add this movie to one of your leagues</a>
    {% else %}
      {% if picks_error %}<h5 class="error">{{ picks_error }}</h5>{% endif %}
      {% if is_movie_on_team %}
        <button type="submit" name="remove_movie">Remove</button>
      {% else %}
        <button type="submit" name="add_movie">Add</button>
      {% endif %}
    {% endif %}
  </form>
  <style>
    .error{
      color:red
    }
  </style>
{% endblock content %}
