{% extends 'base.html' %}

{% block mymessage %}
<form method="post">
    {% csrf_token %}
    <h1>you are looking at league: {{ current_league }}</h1>
    {% if is_active_user_in_leauge %}
    <button type="submit" name="league_leave" value="Leave">Leave</button>
    {% else %}
    <button type="submit" name="league_join" value="Join">Join</button>
    {% endif %}

</form>



{% if current_league.players.all %}
<br>
players in this leauge
<ul>
    {% for player in current_league.players.all %}
    <li><a href="/u/{{ player.id }}/">{{ player }}</a></li>
    {% endfor %}
</ul>

{% else %}
<p>No one is in this leauge</p>
{% endif %}

{% endblock %}